<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des étudiants</title>
</head>
<body>
    <h1>Liste des étudiants</h1>
    <table>
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Noms</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for etudiant in etudiants %}
                <tr>
                    <td>{{ etudiant.matricule }}</td>
                    <td>{{ etudiant.noms }}</td>
                    <td>{{ etudiant.genre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
